/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { 
	border: none; 
}

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
  font-size: 0.9em;
  font-family: Arial;
  line-height: 1.4;
  
}

#cabecera { 
	clear: both; 
	padding: 1em;
}

#cabecera h1{
	background-image: url(imagenes/logo.gif);
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	text-decoration: none;
	height: 50px;
	width: 160px;
}

#menu { 
	clear: both; 
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #004C99;
	background-image: url(imagenes/fondo_menu.gif);
	margin-right: 1em;
}

#menu a{
	color: white;
	font-size: 1.3em;
	margin-right: 1em;
}

#lateral { 
	float: left; width: 20%; 
	font-size:  0.9em;
}

#lateral #noticias .fecha{
	color:  #999;
	display: block;
}

#contenido { float: right; width: 77%; }
#contenido #principal { float: left; width: 73%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */
#noticias {
	border: 1px solid #C5C5C5;
} 

#noticas h3{
	color: #003366;
}

#noticias, #principal, #secundario, #principal, #publicidad {
	padding: 0.5em;
}

#pie{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	border-bottom: 1px solid #C5C5C5;
	border-top: 1px solid #C5C5C5;
}

#pie .enlaces a{
	font-size: 0.7em;
}

#noticias, #pie{
	background-color: #F8F8F8;
}

#publicidad{
	margin-top: 1em;
	border: 1px dashed #CC6600;
	background-color: #FFF6CD;
	color: #555;
}

#publicidad a{
	color: #CC6600;
}

#secundario{
	border: 1px solid #CC6600;
}

#secundario h2{
	background-color: #DB905C;
	padding: 0.2em;
	color: white;
	font-size: 16px;
}

#secundario p {
	margin-bottom: 10px;
}

.articulo{
	padding: 1em;
}

.articulo img {
	margin: 0.5em;
}

.articulo h2{
	color: #CC6600; 
	font-size: 1.6em; 
	line-height: 1.2;
	margin-bottom: 0.3em;
}

.articulo a{
	color:  #CC6600;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}